body{
	background-color: #ffffff!important;
}
.noticia_texto{
	word-wrap: break-word;
}
/* cor do nav */
nav{
	background-color: #8d310d!important;
}

/*links do nav*/
.navbar-dark .navbar-nav .nav-link{
	color: #ffffff!important;
}
.navbar-dark .navbar-nav .nav-link:hover{
	text-decoration: underline!important;
}

/* todos os titulos da aba noticias */
.titulo-noticia-logado{
	color: #8d310d!important;
}
.titulo-noticia-logado:hover{
	color: #5d2109!important;
}
.titulo-noticia{
	color: #8d310d!important;
}
a:hover{
	text-decoration: none!important;
}